Lenguajes Informáticos y SGI/HTML/XSD Bloque I/Ejer4/reserva.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="reserva">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="huesped"
                    type="xs:string" />
                <xs:element name="habitacion"
                    type="xs:integer" />
                <xs:element name="entrada"
                    type="xs:date" />
                <xs:element name="salida"
                    type="xs:date" />
                <xs:element name="numPersonas"
                    type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>